fastapi
uvicorn[standard]
sqlmodel
httpx
aiosmtplib
python-dotenv
imapclient
email-validator
dnspython
jinja2
pydantic
pytest
celery[redis]
redis
authlib
itsdangerous
alembic
psycopg2-binary
gunicorn
python-multipart
dnspython
